<!doctype html>
<html lang="en" ng-app="farmdrop">
  <head>
    <title>Farmdrop</title>

    <link rel="stylesheet" type="text/css" media="screen" href="assets/bower/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bower/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="assets/bower/angular-route/angular-route.min.js"></script>
    <%= js :application %>
  </head>
  <body>
    <h1>hello farmdrop</h1>

    <div ng-view></div>
  </body>
</html>
